@import 'style2';

@mixin borda-arredondada-azul ($border-radius) {

    border-radius: $border-radius;
    border: 1px solid blue;    
}

@mixin  fundo-branco-quadrado($lado) {

    background-color: white;
    width: $lado;
    height: $lado;

    
}

@mixin dark ($bool){

    @if $bool == true {

        background-color: #222;
        
    } 
}

@mixin theme($tema) {

    @if $tema == azul {

        background-color: blue;
    
    } @else if $tema == vermelho{

        background-color: red;

    }    
}



$primary: rgb(245, 244, 244);
$sans: sans-serif;
$arial: arial;
$pink: rgb(226, 30, 144);




*{

    margin: 0;
    padding: 0;
    
}


body{

    background-color: $primary;
    @include theme(vermelho);
}

h1{

    color: #4556f1;
    text-align: center;
    font-family: $sans;
    margin: 10px;

    @media screen and (max-width: 600px) {

        font-size: 24px;
        
    }
}

h2{

    color: $pink;
}

.center{

    text-align: center;
    font-family: $arial;
}

button{

    background-color: $pink;
    border-radius: 7px;
    width: 100px;
    height: 50px;
    outline: none;
    box-shadow: 1px 1px 17px $pink;
    color: white;
    font-family: $sans;
    font-weight: bold;
    margin: 20px;
    border: 2px solid $pink;

}


.block{

    margin-left: auto;
    margin-right: auto;
    display: block;
}


.container{

    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    border-radius: 7px;
   

    .box-out{

        background-color: #4556f1;
        width: 200px;
        height: 200px;
        border-radius: 7px;
        



        .box-in{

            background-color: $pink;
            width: 100px;
            height: 100px;
            border-radius: 7px;



        }
    }
}

.flex-center{

    display: flex;
    justify-content: center ;
    align-items: center;

}


.mixin{

    @include borda-arredondada-azul(7px);
    @include fundo-branco-quadrado(200px);
    color: red;
}